$extensions = @(
  "asvetliakov.vscode-neovim",
  "bungcip.better-toml",
  "devgauravjatt.github-catppuccin-dark",
  "dsznajder.es7-react-js-snippets",
  "formulahendry.code-runner",
  "github.copilot",
  "github.copilot-chat",
  "github.github-vscode-theme",
  "jdinhlife.gruvbox",
  "joshmu.periscope",
  "mhkb.vscode-theme-darcula-stormy",
  "michaelzhou.fleet-theme",
  "ms-python.debugpy",
  "ms-python.python",
  "ms-vscode.live-server",
  "ms-vscode.powershell",
  "nicohlr.pycharm",
  "robole.file-bunny",
  "sourcegraph.cody-ai",
  "tamasfe.even-better-toml",
  "zainchen.json"
)

$vscode = "$env:USERPROFILE\scoop\apps\vscode\current\bin\code.cmd"
$codium = "$env:USERPROFILE\scoop\apps\vscodium\current\bin\codium.cmd"

foreach ($ext in $extensions) {
  if (Test-Path $vscode) {
    & $vscode --install-extension $ext
  }
  if (Test-Path $codium) {
    & $codium --install-extension $ext
  }
}
