[user]
	email = {{ .email }}
	name = {{ .name }}
[credential "helperselector"]
	selected = manager
[credential]
	helper = manager
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
