

#!/usr/bin/env pwsh

# packages.json hash: {{ include "AppData/Local/installer/packages.json" | sha256sum }}

# Fix path handling
$PackagesJson = "{{ joinPath .chezmoi.sourceDir "AppData/Local/installer/packages.json" }}"

# Ensure PowerShell correctly interprets the path
$PackagesJson = $PackagesJson -replace '"', ''

# Read and install/update packages
$Packages = Get-Content -Path $PackagesJson | ConvertFrom-Json
foreach ($Package in $Packages.packages) {
    Write-Host "Installing/Updating: $($Package.name)"
    winget install -e --id $Package.id --silent
}
