(
    profiles: (
        balanced: [
            (
                fan: CPU,
                pwm: (12, 25, 30, 40, 53, 68, 91, 255),
                temp: (60, 65, 69, 70, 70, 70, 70, 97),
                enabled: false,
            ),
            (
                fan: GPU,
                pwm: (7, 20, 33, 38, 56, 73, 96, 255),
                temp: (60, 65, 69, 70, 70, 70, 70, 97),
                enabled: false,
            ),
        ],
        performance: [
            (
                fan: CPU,
                pwm: (30, 53, 91, 104, 153, 198, 226, 255),
                temp: (40, 58, 64, 68, 70, 70, 70, 90),
                enabled: false,
            ),
            (
                fan: GPU,
                pwm: (33, 56, 96, 114, 173, 219, 249, 255),
                temp: (40, 58, 64, 68, 70, 70, 70, 90),
                enabled: false,
            ),
        ],
        quiet: [
            (
                fan: CPU,
                pwm: (2, 12, 30, 53, 68, 68, 68, 255),
                temp: (60, 64, 65, 65, 65, 65, 65, 97),
                enabled: false,
            ),
            (
                fan: GPU,
                pwm: (2, 7, 33, 56, 73, 73, 73, 255),
                temp: (60, 64, 65, 65, 65, 65, 65, 97),
                enabled: false,
            ),
        ],
        custom: [],
    ),
)