:root {

    --background: #0e1416;

    --error: #ffb4ab;

    --error_container: #93000a;

    --inverse_on_surface: #2b3133;

    --inverse_primary: #006875;

    --inverse_surface: #dee3e5;

    --on_background: #dee3e5;

    --on_error: #690005;

    --on_error_container: #ffdad6;

    --on_primary: #00363e;

    --on_primary_container: #9eefff;

    --on_primary_fixed: #001f24;

    --on_primary_fixed_variant: #004e59;

    --on_secondary: #1c3438;

    --on_secondary_container: #cde7ed;

    --on_secondary_fixed: #051f23;

    --on_secondary_fixed_variant: #334b4f;

    --on_surface: #dee3e5;

    --on_surface_variant: #bfc8ca;

    --on_tertiary: #252f4d;

    --on_tertiary_container: #dbe1ff;

    --on_tertiary_fixed: #0f1a37;

    --on_tertiary_fixed_variant: #3c4665;

    --outline: #899294;

    --outline_variant: #3f484a;

    --primary: #82d3e2;

    --primary_container: #004e59;

    --primary_fixed: #9eefff;

    --primary_fixed_dim: #82d3e2;

    --scrim: #000000;

    --secondary: #b1cbd0;

    --secondary_container: #334b4f;

    --secondary_fixed: #cde7ed;

    --secondary_fixed_dim: #b1cbd0;

    --shadow: #000000;

    --source_color: #032b31;

    --surface: #0e1416;

    --surface_bright: #343a3c;

    --surface_container: #1b2122;

    --surface_container_high: #252b2c;

    --surface_container_highest: #303637;

    --surface_container_low: #171d1e;

    --surface_container_lowest: #090f10;

    --surface_dim: #0e1416;

    --surface_tint: #82d3e2;

    --surface_variant: #3f484a;

    --tertiary: #bbc5ea;

    --tertiary_container: #3c4665;

    --tertiary_fixed: #dbe1ff;

    --tertiary_fixed_dim: #bbc5ea;



    --background_rgb: 14 20 22;

    --error_rgb: 255 180 171;

    --error_container_rgb: 147 0 10;

    --inverse_on_surface_rgb: 43 49 51;

    --inverse_primary_rgb: 0 104 117;

    --inverse_surface_rgb: 222 227 229;

    --on_background_rgb: 222 227 229;

    --on_error_rgb: 105 0 5;

    --on_error_container_rgb: 255 218 214;

    --on_primary_rgb: 0 54 62;

    --on_primary_container_rgb: 158 239 255;

    --on_primary_fixed_rgb: 0 31 36;

    --on_primary_fixed_variant_rgb: 0 78 89;

    --on_secondary_rgb: 28 52 56;

    --on_secondary_container_rgb: 205 231 237;

    --on_secondary_fixed_rgb: 5 31 35;

    --on_secondary_fixed_variant_rgb: 51 75 79;

    --on_surface_rgb: 222 227 229;

    --on_surface_variant_rgb: 191 200 202;

    --on_tertiary_rgb: 37 47 77;

    --on_tertiary_container_rgb: 219 225 255;

    --on_tertiary_fixed_rgb: 15 26 55;

    --on_tertiary_fixed_variant_rgb: 60 70 101;

    --outline_rgb: 137 146 148;

    --outline_variant_rgb: 63 72 74;

    --primary_rgb: 130 211 226;

    --primary_container_rgb: 0 78 89;

    --primary_fixed_rgb: 158 239 255;

    --primary_fixed_dim_rgb: 130 211 226;

    --scrim_rgb: 0 0 0;

    --secondary_rgb: 177 203 208;

    --secondary_container_rgb: 51 75 79;

    --secondary_fixed_rgb: 205 231 237;

    --secondary_fixed_dim_rgb: 177 203 208;

    --shadow_rgb: 0 0 0;

    --source_color_rgb: 3 43 49;

    --surface_rgb: 14 20 22;

    --surface_bright_rgb: 52 58 60;

    --surface_container_rgb: 27 33 34;

    --surface_container_high_rgb: 37 43 44;

    --surface_container_highest_rgb: 48 54 55;

    --surface_container_low_rgb: 23 29 30;

    --surface_container_lowest_rgb: 9 15 16;

    --surface_dim_rgb: 14 20 22;

    --surface_tint_rgb: 130 211 226;

    --surface_variant_rgb: 63 72 74;

    --tertiary_rgb: 187 197 234;

    --tertiary_container_rgb: 60 70 101;

    --tertiary_fixed_rgb: 219 225 255;

    --tertiary_fixed_dim_rgb: 187 197 234;

}
